<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="SsaForm" th:remove="tag">

    <form id="form" th:object="${ssasForm}" method="post" th:action="@{/EditSsa}">

        <input type="hidden" th:field="*{id}"/>

        <div th:switch="*{dropdownDepartmentsForms == null or dropdownDepartmentsForms.size() == 0}">
            <div th:case="true">
                <label for="depart_label">Department/Unit or Donor</label>
                <h4>There are no departments defined. Please define one or more departments.</h4>
            </div>
            <div th:case="*">
                <label for="depart_label">Department/Unit or Donor</label>
                <select id="departmentid" name="departmentid">
                    <option value="">Add a new department:</option>
                    <option th:each="d, stat: *{dropdownDepartmentsForms}"
                            th:if="*{dropdownDepartmentsForms[__${stat.index}__].id} != '0'"
                            th:value="*{dropdownDepartmentsForms[__${stat.index}__].id}"
                            th:text="*{dropdownDepartmentsForms[__${stat.index}__].name}"
                            th:selected="*{departmentForm} != null and *{departmentForm.id} != null and *{dropdownDepartmentsForms[__${stat.index}__].id} != null and *{dropdownDepartmentsForms[__${stat.index}__].id} eq *{departmentForm.id}"></option>
                </select>
            </div>

            <p></p>


            <div class="form-group row">
                <label for="recordstitle" class="col-sm-2 col-form-label">Records Title</label>
                <div class="col-sm-7">
                    <input class="form-control" id="recordstitle" placeholder="" th:field="*{recordstitle}"/>
                </div>
            </div>

            <p></p>

            <fieldset id="optdraft">
                <legend id="optlegenddraft">Optional fields</legend>
                <p id="optdraftspace"></p>

                <fieldset>
                    <legend>Head of Department/Unit for this Submission Agreement</legend>
                    <p>Supply the name of the office or person creating the record and a Record Group.</p>

                    <div id="recordsCreator" class="form-group row">
                        <label for="hdu" class="col-sm-2 col-form-label">Head of Department/Unit</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="deptartmenthead"
                                   th:field="*{departmenthead}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ssarcid" class="col-sm-2 col-form-label">Record or Collection Identifier</label>
                        <div class="col-sm-7">
                            <input type="text" class="form=control" th:field="*{recordid}"/>
                        </div>
                    </div>
                </fieldset>

                <p></p>

                <fieldset class="repeatable" th:switch="*{ssaContactsForms == null or ssaContactsForms.size() == 0}">
                    <legend>Department/Unit or Donor Contact Information</legend>
                    <p>Supply a name, phone number and email address.</p>
                    <div id="contacts" th:case="true">
                        <div class="contact">
                            <input type="hidden" value="0" id="contactcnt"/>
                            <input type="hidden" name="ssaContactsForms[0].idx" value="0"/>
                            <input th:if="${newssa ne '1'}" type="hidden" name="ssaContactsForms[0].ssasForm.id"
                                   th:value="${ssasForm.id}"/>
                            <div class="form-group row">
                                <label for="ssacontactname" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="ssacontactname"
                                           name="ssaContactsForms[0].name"/>
                                </div>

                            </div>
                            <div class="form-group row">
                                <label for="ssacontactphone" class="col-sm-2 col-form-label">Phone Number</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="ssacontactphone"
                                           name="ssaContactsForms[0].phone"/>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="ssacontactemail" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="ssacontactemail"
                                           name="ssaContactsForms[0].email"/>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="ssacontactaddress" class="col-sm-2 col-form-label">Campus Address</label>

                                <div class="col-sm-7">

                                    <input type="text" class="form-control" id="ssacontactaddress"
                                           name="ssaContactsForms[0].address"/>
                                </div>

                            </div>
<!--                            <div>
                                <input type="button" value="-" onclick="removeit( this, 'contact' )"/>
                            </div>-->
                        </div>
                    </div>
                    <div id="contacts" th:case="*">
                        <input type="hidden" id="contactcnt" th:value="*{ssaContactsForms.size()}"/>
                        <div class="contact" th:each="con, stat : *{ssaContactsForms}">
                            <input type="hidden" th:field="*{ssaContactsForms[__${stat.index}__].id}"/>
                            <input type="hidden" th:field="*{ssaContactsForms[__${stat.index}__].idx}"/>
                            <input type="hidden" th:field="*{ssaContactsForms[__${stat.index}__].ssasForm.id}"/>
                            <div class="form-group row">
                                <label for="ssacontactname" class="col-sm-2 col-form-label">Name</label>

                                <div class="col-sm-7">


                                    <input type="text" class="form-control" id="name"
                                           th:field="*{ssaContactsForms[__${stat.index}__].name}"/>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="ssacontactphone" class="col-sm-2 col-form-label">Phone Number</label>

                                <div class="col-sm-7">

                                    <input type="text" class="form-control" id="phone"
                                           th:field="*{ssaContactsForms[__${stat.index}__].phone}"/>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="ssacontactemail">Email</label>

                                <div class="col-sm-7">

                                    <input type="text" class="form-control" id="email"
                                           th:field="*{ssaContactsForms[__${stat.index}__].email}"/>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="ssacontactaddress" class="col-sm-2 col-form-label">Campus Address</label>

                                <div class="col-sm-7">

                                    <input type="text" class="form-control" id="address"
                                           th:field="*{ssaContactsForms[__${stat.index}__].address}"/>

                                </div>
                            </div><!--
                            <div>
                                <input type="button" value="-" onclick="removeit( this, 'contact'  )"/>
                            </div>-->
                        </div>
                    </div>
<!--                    <div>
                        <input type="button" value="+" onclick="createit( this, 'contact' )"/>
                    </div>-->
                </fieldset>

                <p></p>

                <div class="form-group row">
                    <label for="acd class=" class="col-sm-2 col-form-label">Agreement Creation Date</label>

                    <span class="elements" id="acd">
                                                <div class="col-sm-7">

	      <input type="text" class="form-control" data-format="YYYY-MM-DD" data-template="YYYY MMM D"
                 th:field="*{creationdate}"/>
                                                </div>
	    </span>
                </div>

                <p></p>

                <fieldset class="repeatable"
                          th:switch="*{ssaCopyrightsForms == null or ssaCopyrightsForms.size() == 0}">
                    <legend>Copyright Statement</legend>
                    <div id="copyrights" th:case="true">
                        <input type="hidden" id="copyrightcnt" value="0"/>
                        <div class="copyright">
                            <input th:if="${newssa ne '1'}" type="hidden" name="ssaCopyrightsForms[0].ssasForm.id"
                                   th:value="${ssasForm.id}"/>
                            <div class="col-sm-7">

                                <input type="text" id="copyright" name="ssaCopyrightsForms[0].copyright"/>
                            </div>
<!--
                            <span><input type="button" value="-" onclick="removeit( this, 'copyright' )"/></span>
-->
                        </div>
                    </div>
                    <div id="copyrights" th:case="*">
                        <input type="hidden" th:value="*{ssaCopyrightsForms.size()}" id="copyrightcnt"/>
                        <div class="copyright" th:each="cr, stat : *{ssaCopyrightsForms}">
                            <input th:if="${newssa ne '1'}" type="hidden"
                                   th:field="*{ssaCopyrightsForms[__${stat.index}__].id}"/>
                            <input type="hidden" th:field="*{ssaCopyrightsForms[__${stat.index}__].idx}"/>
                            <input th:if="${newssa ne '1'}" type="hidden"
                                   th:field="*{ssaCopyrightsForms[__${stat.index}__].ssasForm.id}"/>

                            <div class="col-sm-7">

                                <input type="text" id="copyright"
                                       th:field="*{ssaCopyrightsForms[__${stat.index}__].copyright}"/>
                            </div>
<!--
                            <span><input type="button" value="-" onclick="removeit( this, 'copyright' )"/></span>
-->
                        </div>
                    </div>
<!--                    <div>
                        <input type="button" value="+" onclick="createit( this, 'copyright' )"/>
                    </div>-->
                </fieldset>

                <p></p>

                <fieldset class="repeatable"
                          th:switch="*{ssaAccessRestrictionsForms == null or ssaAccessRestrictionsForms.size() == 0}">
                    <legend>Access Restrictions</legend>
                    <div id="restrictions" th:case="true">
                        <input type="hidden" id="restrictioncnt" value="1"/>
                        <div class="restriction">
		<span>
		  <input th:if="${newssa ne '1'}" type="hidden" name="ssaAccessRestrictionsForms[0].ssasForm.id"
                 th:value="${ssasForm.id}"/>
		  <input type="hidden" name="ssaAccessRestrictionsForms[0].idx" value="0"/>
                                    <div class="col-sm-7">

		  <input type="text" id="restriction" name="ssaAccessRestrictionsForms[0].restriction"
                 th:value="${defaultaccessrestriction}"/>
                                    </div>
		</span>
                            <span>
<!--
		  <input type="button" value="-" onclick="removeit( this, 'restriction' )"/>
-->
		</span>
                        </div>
                    </div>
                    <div id="restrictions" th:case="*">
                        <input type="hidden" th:value="*{ssaAccessRestrictionsForms.size()}" id="restrictioncnt"/>
                        <div class="restriction" th:each="cr, stat : *{ssaAccessRestrictionsForms}">
                            <input type="hidden" th:field="*{ssaAccessRestrictionsForms[__${stat.index}__].id}"/>
                            <input type="hidden" th:field="*{ssaAccessRestrictionsForms[__${stat.index}__].idx}"/>
                            <input type="hidden"
                                   th:field="*{ssaAccessRestrictionsForms[__${stat.index}__].ssasForm.id}"/>
                            <div class="col-sm-7">

                                <input type="text" id="restriction"
                                       th:field="*{ssaAccessRestrictionsForms[__${stat.index}__].restriction}"/>
                            </div>
<!--
                            <span><input type="button" value="-" onclick="removeit( this, 'restriction' )"/></span>
-->
                        </div>
                    </div>
<!--                    <div>
                        <input type="button" value="+" onclick="createit( this, 'restriction' )"/>
                    </div>-->
                </fieldset>

                <p></p>

                <div class="form-group row">
                    <label for="ed" class="col-sm-2 col-form-label">Agreement Effective Date</label>
                    <div class="col-sm-7">
                        <input id="ed" type="text" class="datedropdown" data-format="YYYY-MM-DD"
                               data-template="YYYY MMM D"
                               th:field="*{effectivedate}"/>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="rs" class="col-sm-2 col-form-label">Retention Schedule</label>
                    <div class="col-sm-7">
                        <input id="rs" type="text" class="form-control" th:field="*{retentionschedule}"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="rp" class="col-sm-2 col-form-label">Retention Period</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" th:field="*{retentionperiod}"/>
                    </div>
                </div>

                <p></p>

                <div class="form-group row">
                    <label for="ads" class="col-sm-2 col-form-label">Archival Description Standards</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" th:field="*{descriptionstandards}"/>
                    </div>
                </div>

                <p></p>

                <fieldset id="optapproved">
                    <p></p>

                    <div class="form-group row">
                        <label for="ex" class="col-sm-2 col-form-label">Expiration Date</label>
                        <div class="col-sm-7">
                        <span class="elements" id="ex">
		<input type="text" class="form-control" data-format="YYYY-MM-DD" data-template="YYYY MMM D"
               th:field="*{expirationdate}"/>
	      </span>
                        </div>
                    </div>

                    <p></p>

                    <div class="form-group row">
                        <label for="rad" class="col-sm-2 col-form-label">Retention Alert Date</label>
                        <div class="col-sm-7">
                        <span class="elements" id="ex">
		<input type="text" class="form-control" data-format="YYYY-MM-DD" data-template="YYYY MMM D"
               th:field="*{retentionalertdate}"/>
	      </span>
                        </div>
                    </div>

                    <p></p>

                    <div class="form-group row">
                        <label for="notinline" class="col-sm-2 col-form-label">Other Record Format Types</label>
                        <div class="col-sm-7">
                            <textarea class="form-control" cols="50" rows="10"
                                      th:field="*{otherformattypes}"></textarea>
                        </div>
                    </div>

                    <p></p>

                    <div class="form-group row">
                        <label for="notinline" class="col-sm-2 col-form-label">General Records Description</label>
                        <div class="col-sm-7">
                            <textarea class="form-control" cols="50" rows="10"
                                      th:field="*{recorddescription}"></textarea>
                        </div>
                    </div>

                    <p></p>

                    <fieldset class="repeatable"
                              th:switch="*{ssaFormatTypesForms == null or ssaFormatTypesForms.size() == 0}">
                        <legend>Format types</legend>
                        <div id="formats" th:case="true">
                            <input type="hidden" id="formatcnt" value="0"/>
                            <input th:if="${newssa ne '1'}" type="hidden" name="ssaFormatTypesForms[0].ssasForm.id"
                                   th:value="${ssasForm.id}"/>
                            <div class="format">
		  <span>
		    <div class="col-sm-7">
		    <input type="text" class="form-control" name="ssaFormatTypesForms[0].formattype"/>
		    </div>
<!--
		    <span><input type="button" value="-" onclick="removeit( this, 'format' )"/></span>
-->
		  </span>
                            </div>
                        </div>
                        <div id="formats" th:case="*">
                            <input type="hidden" id="formatcnt" th:value="*{ssaFormatTypesForms.size()}"/>
                            <div class="format" th:each="cr, stat : *{ssaFormatTypesForms}">
                                <input type="hidden" th:field="*{ssaFormatTypesForms[__${stat.index}__].id}"/>
                                <input type="hidden" th:field="*{ssaFormatTypesForms[__${stat.index}__].idx}"/>
                                <input type="hidden" th:field="*{ssaFormatTypesForms[__${stat.index}__].ssasForm.id}"/>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control"
                                           th:field="*{ssaFormatTypesForms[__${stat.index}__].formattype}"/>
                                </div>
<!--
                                <span><input type="button" value="-" onclick="removeit( this, 'format' )"/></span>
-->
                            </div>
                        </div>
       <!--                 <div>
                            <input type="button" value="+" onclick="createit( this, 'format' )"/>
                        </div>-->
                    </fieldset>

                </fieldset>
            </fieldset>

            <p></p>
            <p></p>

            <p><label><b>Approved</b></label> <input class="form-control" type="checkbox" onchange="approvedchange()"
                                                     th:field="*{approved}"
                                                     th:checked="*{approved}"/></p>

            <p></p>

            <p><label><b>Enabled</b></label> <input class="form-control" type="checkbox" th:field="*{enabled}"
                                                    th:checked="*{enabled}"/></p>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
    <p></p>
    <div>
        <!--
           <input type="button" value="Save" onclick="validate()"/>
           -->
    </div>
    <p></p>
</div>
</html>