<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="SsaForm" th:remove="tag">
    <form id="form" th:object="${ssasForm}" method="post" th:action="@{/CreateSsa}">
        <div th:if="${newssa ne '1'}" th:remove="tag">
            <input type="hidden" th:field="*{departmentForm.id}"/> <!-- check if null? -->
            <input type="hidden" th:field="*{createdby}"/>
            <input type="hidden" th:field="*{editdate}"/>
            <input type="hidden" th:field="*{IP}"/>
            <input type="hidden" th:field="*{onlinesubmission}"/>
        </div>
        <p></p>
        <div th:if="${newssa ne '1'}">
            <label for="subid">Submission Agreement ID</label>
            <input size="4" type="text" readonly="readonly" th:field="*{id}"/>
        </div>
        <p></p>
        <p></p>
        <div th:switch="*{dropdownDepartmentsForms == null or dropdownDepartmentsForms.size() == 0}">
            <div th:case="true">
                <label for="depart_label">Department/Unit or Donor</label>
                <h4>There are no departments defined. Please define one or more departments.</h4>
            </div>
            <div th:case="*">
                <label for="depart_label">Department/Unit or Donor</label>
                <select id="departmentid" name="departmentid">
                    <option value="">Add a new department:</option>
                    <option th:each="d, stat: *{dropdownDepartmentsForms}"
                            th:if="*{dropdownDepartmentsForms[__${stat.index}__].id} != '0'"
                            th:value="*{dropdownDepartmentsForms[__${stat.index}__].id}"
                            th:text="*{dropdownDepartmentsForms[__${stat.index}__].name}"
                            th:selected="*{departmentForm} != null and *{departmentForm.id} != null and *{dropdownDepartmentsForms[__${stat.index}__].id} != null and *{dropdownDepartmentsForms[__${stat.index}__].id} eq *{departmentForm.id}"></option>
                </select>
            </div>
            <p></p>
            <div>
                <label for="rt">Records Title</label>
                <input type="text" class="wide" th:field="*{recordstitle}"/>
            </div>
            <p></p>
            <fieldset id="optdraft">
                <legend id="optlegenddraft">Optional fields</legend>
                <p id="optdraftspace"></p>

                <p></p>
                <div>
                    <label for="ed">Agreement Effective Date</label>
                    <span class="elements" id="ed">
                  <input type="text" class="datedropdown" data-format="YYYY-MM-DD" data-template="YYYY MMM D"
                         th:field="*{effectivedate}"/>
                  </span>
                </div>
                <p></p>
                <div>
                    <label for="rs">Retention Schedule</label>
                    <input type="text" th:field="*{retentionschedule}"/>
                </div>
                <p></p>
                <div>
                    <label for="rp">Retention Period</label>
                    <input type="text" th:field="*{retentionperiod}"/>
                </div>
                <p></p>
                <div>
                    <label for="ads">Archival Description Standards</label>
                    <input type="text" th:field="*{descriptionstandards}"/>
                </div>
            </fieldset>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
    <p></p>
    <div>
        <!--
           <input type="button" value="Save" onclick="validate()"/>
           -->
    </div>
    <p></p>
</div>
</html>