<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title></title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:fragment="SubmitRecordsLoggedIn">

    <div th:if="${ssa_not_found eq '1'}">
        <p class="error">ERROR: There is no record of an SSA with the database ID '${ssa_id}'.</p>
    </div>


    <div th:if="${rsa_complete ne '1'}">
        <h3 class="title-page">Submit Records to the Archives</h3>
    </div>




    <div class="success_box" th:if="${rsa_complete eq '1'}">
        <p>Success! Thank you for submitting your records to the MIT Libraries IASC. Here are the details of your submission:</p>

        <p>
            Submission Agreement ID=${ssaid}<br />
            Transfer Request ID=${rsaid}
        </p>

        <p>The following files have been uploaded:</p>
        <p th:text="${text}"></p>

        <p>An email has been sent to you with details of your submission as well.</p>

        <hr />
    </div>


    <div th:if="${rsa_complete eq '1'}">
       <!-- <h2>All done?</h2>
        <form method="post" th:action="@{/Auth(type='logout')}">
            <p>Click here to logout. <input type="submit" value="Log out"/></p>
        </form>-
        <h2>Want to complete another Records Submission?</h2>
        -->
    </div>

    <div th:switch="${departments}">

        <div th:case="'0'">
            <h3>No Department/Unit or Donor with Standard Submission Agreements defined for this user.</h3>
        </div>

        <div th:case="*">

            <div th:text="${adminmsg}"></div>

            <form method="post" id="form" th:action="@{/RecordsSubmissionForm}">
                <p>
                    First, select your DLC or Donor and Record Title so we can match your submission with an existing submission agreement.
                    <span class="tip">Don't see yours in the list? Please <a href="mailto:recordstransfer@mit.edu">contact us</a>.</span>
                </p>

                <div class="field-wrap">
                    <label class="field-label" for="ssaid">
                        DLC or Donor and Record Title
                    </label>

                    <select class="field field-select" name="ssaid" id="ssaid">
<!--                    <option th:each="s, stat: *{ssaForms}"
                                th:if="(*{ssaForms} != null and *{ssaForms[__${stat.index}__]} != null and *{ssaForms[__${stat.index}__].departmentForm} != null and *{ssaForms[__${stat.index}__].id} != '0')"
                                th:value="*{ssaForms[__${stat.index}__].id}"
                                th:text="*{ssaForms[__${stat.index}__].departmentForm.name} + ': ' + *{ssaForms[__${stat.index}__].recordstitle}"></option>-->

                        <!-- add submission agreement information -->

                        <option th:each="s, stat: *{ssaForms}"
                                th:if="(*{ssaForms} != null and *{ssaForms[__${stat.index}__]} != null and *{ssaForms[__${stat.index}__].departmentForm} != null and *{ssaForms[__${stat.index}__].id} != '0')"
                                th:value="*{ssaForms[__${stat.index}__].id}"
                                th:text="*{ssaForms[__${stat.index}__].departmentForm.name + ' (' + ssaForms[__${stat.index}__] + ')'}"></option>
                    </select>

                </div>

                <button type="submit" class="btn button-primary">Next: Record details</button>
            </form>

            <hr />

            <p>There are three steps to submit your records:</p>
            <ul>
                <li>Select your DLC or Donor title (this page)</li>
                <li>Add the dates and description for your materials</li>
                <li>Upload your files</li>
            </ul>




        </div>

 <!--       <script th:if="${session.isadmin}" th:inline="javascript">
            /*<![CDATA[*/
            var root = [[
            @
            {/
            }
            ]]
            ;
            /*]]>*/
        </script>
        <script th:if="${session.isadmin}">

            window.onload = function () {
                var d = new Date();
                var seconds = Math.round(d.getTime() / 1000);
                var bannernum = seconds % 6 + 1;
                $("#thebanner").removeClass("banner1").removeClass("banner2").removeClass("banner3").removeClass("banner4").removeClass("banner5").removeClass("banner6").addClass("banner" + bannernum);

                var e = document.getElementById("ssaid");
                var selectedIndex = $("#ssaid option:selected").index();
                var ssaid = e.options[e.selectedIndex].value;
                if (ssaid != 0) {
                    $("#alert_box_top").hide();
                    $.ajax({
                        method: "POST",
                        url: root + "CheckIfSsaApproved",
                        data: {ssaid: ssaid}
                    })
                        .done(function (approved) {
                            if (approved == 'false') {
                                alert("Note: This selection is associated with a draft Submission Agreement.");
                            }
                        });
                }
            };

            $('#ssaid').change(function () {
                var e = document.getElementById("ssaid");
                var selectedIndex = $("#ssaid option:selected").index();
                var ssaid = e.options[e.selectedIndex].value;
                if (ssaid != 0) {
                    $("#alert_box_top").hide();
                    $.ajax({
                        method: "POST",
                        url: root + "CheckIfSsaApproved",
                        data: {ssaid: ssaid}
                    })
                        .done(function (approved) {
                            if (approved == 'false') {
                                alert("Note: This selection is associated with a draft Submission Agreement.");
                            }
                        });
                }
            });
        </script>-->

    </div>
</div>
</body>
</html>
