<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Digital Media Log</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/stylesheets/layout.css"  th:href="@{/stylesheets/layout.css}"/>

    <div th:replace="fragments/header :: header-css"/>


</head>

<body class="app-thing">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="javascript/dm_items.js">
    th:href="@{/js/dm_items.js}"
</script>


<div th:replace="mit/header :: header"/>

<a id="skip" class="skip sr sr-focusable" href="#content-main">Skip to main content</a>

<div class="wrap-page">




    <div class="wrap-outer-content layout-band">
        <div class="wrap-content">
            <main id="content-main" class="content-main" role="main">

                <div class="details">
                    <h3>New Item</h3>
                </div>

                <form action="#" th:object="${item}" method="post">
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">ID</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="id" placeholder="" th:field= "${item.itemId}" readonly="readonly"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="refID" class="col-sm-2 col-form-label">ASpace RefID</label>
                        <div class="col-sm-7">
                            <input class="form-control" id="refID" placeholder="" th:field="${item.refid}"/>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-default" id="find_in_as">Find in ArchivesSpace</button>
                        </div>

                    </div>

                    <div class="form-group row">
                        <label for="component" class="col-sm-2 col-form-label">Component (autopopulated)</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="component" placeholder="" th:field="${item.component}"/>

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="resource" class="col-sm-2 col-form-label">Resource (autopopulated)</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="resource" placeholder="" th:field="${item.resource}"/>
                        </div>
                    </div>



                    <div class="form-group row">
                        <label for="format" class="col-sm-2 col-form-label">Format</label>
                        <div class="col-sm-10">
                            <select id="format" class="form-control" th:field="*{format}">
                                <option th:each="operator : ${format}" th:value="${operator.value}" th:text="${operator.value}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="transfer_status" class="col-sm-2 col-form-label">Transfer Status</label>
                        <div class="col-sm-10">
                            <select id="transfer_status" class="form-control" th:field="*{transferStatus}">
                                <option th:each="operator : ${transferStatus}" th:value="${operator.value}" th:text="${operator.value}"></option>
                            </select>
                        </div>
                    </div>



                    <div class="form-group row">
                        <label for="transfer_method" class="col-sm-2 col-form-label">Transfer Method</label>
                        <div class="col-sm-10">
                            <select id="transfer_method" class="form-control" th:field="*{transferMethod}">
                                <option th:each="operator : ${transferMethod}" th:value="${operator.value}" th:text="${operator.value}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="transfer_date" class="col-sm-2 col-form-label">Transfer Date</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="transfer_date" placeholder="" th:field="${item.transferDate}"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="created" class="col-sm-2 col-form-label">Created</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="created" placeholder="" th:field="${item.created}" readonly="readonly"/>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="updated" class="col-sm-2 col-form-label">Updated</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="updated" placeholder="" th:field="${item.updated}" readonly="readonly"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="disposition" class="col-sm-2 col-form-label">Disposition</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="disposition" th:field="*{disposition}">
                                <option th:each="operator : ${disposition}" th:value="${operator.value}" th:text="${operator.value}"></option>
                            </select>
                        </div>
                    </div>

                    <input type="hidden"
                           th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>

                        </div>
                    </div>
                </form>


            </main>
            <!-- close content-main -->
        </div>
    </div>

    <script src="https://use.fontawesome.com/38304317ff.js"></script>


    <div th:replace="mit/site_footer :: footer"/>
    <div th:replace="mit/institute_footer :: footer"/>


</div>
<!-- close wrap-page -->
</body>


</html>

