<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title></title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="mit/header :: header"/>

<div class="wrap-page">

    <div class="wrap-outer-content layout-band">
        <div class="wrap-content">
            <main id="content-main" class="content-main" role="main">
                <div class="layout-3q1q layout-band">

                    <div class="col3q">
                        <div class="details">
                        </div>

                        <div id="content">
                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                            <h3 class="title-page">Frequently Asked Questions (FAQ)</h3>

                            <p>The IASC only collects inactive material. If you are actively using the records, then they are not ready to be donated to the Archives.</p>
                            <p>The information below covers both digital and print materials. To transfer non-digital materials, please contact us.</p>
                            <h4>What does the IASC collect and/or what files should be transfered?</h4>
                            <p>
                            <strong>For faculty:</strong>
                            </p>
                            <p>
                            Archival records and faculty papers come in many forms and formats. The Institute Archives and Special Collections (IASC) is interested in both physical materials and digital files.
                            </p>
                            <ul>
                                <li>Teaching materials: problem sets, syllabi, lecture notes, sample exams</li>
                                <li>Research materials created by you: your talks, lab notebooks, field notes, drafts, grant proposals, reports,</li>
                                <li>correspondence with colleagues and granting agencies</li>
                                <li>Some consulting and conference materials</li>
                                <li>Correspondence: emails and letters with colleagues or professional organizations</li>
                            </ul>
                            <p>
                            <strong>For academic and administrative offices:</strong>
                            </p>

                            <p>
                            In accordance with MIT Policy 13.3: All records generated or received by the various administrative and academic offices of the Institute in the conduct of their business, regardless of the form in which they are created and maintained, are the property of the Institute and constitute archival material. 
                            </p>
                            <p>
                            The records covered by this policy include:
                            </p>

                            <ul>
                                <li>annual reports, </li>
                                <li>official printed material, </li>
                                <li>correspondence, </li>
                                <li>machine-readable files, </li>
                                <li>record books, </li>
                                <li>Minutes,</li>
                                <li>committee files,</li>
                                <li>financial records (summary level, budgets), </li>
                                <li>and associated papers.</li>
                            </ul>
                            <h4>What does IASC not collect or accept?</h4>
                            <p>
                            <strong>For faculty</strong>
                            </p>

                            <ul>
                                <li>Publications by people other than yourself, unless tightly related to your work/research</li>
                                <li>Materials from work outside MIT, that is proprietary, or with unclear copyrights rights</li>
                                <li>Personal financial, health, and legal records</li>
                                <li>Student records such as grade lists or graded exams, student papers, recommendations</li>
                            </ul>
                            <p>
                            <strong>For academic and administrative offices:</strong>
                            </p>

                            <p>
                            Non-permanent records or transactional materials such as receipts and invoices, junk mail, and duplicates. Unless you are the office of record, you should not transfer personnel records, student grades, and medical records.
                            </p>
                            <h4>Can certain materials remain closed for a specified number of years?</h4>
                            <p>
                            We provide access to materials according to Institute policies and other applicable statutes unless otherwise specified in the gift agreement.
                            </p>
                            <ol>
                                <li>MIT records: restricted for 20 years</li>
                                <li>MIT Corporation and Executive Committee minutes: restricted for 50 years</li>
                                <li>Student records: restricted for 75 years</li>
                                <li>Personnel records: restricted for 75 years</li>
                            </ol>


                            <p>
                            For more information, please see sections 11 and 13 of MIT Policies and Procedures or visit the IASC site:
                            </p>

                            <ul>
                                <li><a href="http://policies-procedures.mit.edu/information-policies/">MIT Policies and Procedures</a> (sections 11 and 13)</li>
                                <li><a href="https://libraries.mit.edu/archives/managing/sending-archives.html">Transferring permanent records</a></li>
                                <li><a href="https://libraries.mit.edu/archives/managing/policy-digital.html">Digital archives practice</a></li>
                            </ul>


                            <h4>How do I report a problem or bug or get more help?</h4>
                            <p>
                            If you are having a problem that can't be answered by the FAQ or have found possible software bug, please either call us at 617.253.5136 or email us at <a href="mailto:recordstransfer@mit.edu">recordstransfer@mit.edu</a>.
                            </p>


                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                        </div>
                    </div>
                    <aside class="content-sup col1q-r" role="complementary">
                        <div id="contact-iasc" class="bit">
                            <h3 class="title">Questions? Contact us.</h3>
                            <p><a href="mailto:recordstransfer@mit.edu">recordstransfer@mit.edu</a><br />
                            617.253.5136</p>
                        </div>
                    </aside>
                </div>

            </main>
            <!-- close content-main -->
        </div>
    </div>

    <script src="https://use.fontawesome.com/38304317ff.js"></script>

</div>

<div th:replace="mit/site_footer :: footer"/>

</body>
</html>
