<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title></title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body class="app-thing">


<div th:replace="mit/header :: header"/>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<a id="skip" class="skip sr sr-focusable" href="#content-main">Skip to main content</a>

<div class="wrap-page">

    <div class="wrap-outer-content layout-band">
        <div class="wrap-content">
            <main id="content-main" class="content-main" role="main">
                <div class="layout-3q1q layout-band">

                    <div class="col3q">

                        <p>The Institute Archives and Special Collections (IASC) at MIT Libraries collects, preserves, and makes available digital material as well as paper and other analog formats.</p>
                        <p>This Digital Transfer Tool provides the ability to transfer digital collections from Institute offices and from donors of personal papers to the IASC.</p>

                        <div class="well">
                            <h3 class="hd-4">Get started</h3>
                            <p>Before you submit your records, please contact the IASC to be sure there is a submission agreement on file.</p>
                            <p><a class="btn button-primary" th:href="@{/SubmitRecords}">Submit records</a></p>
                        </div>

                        <hr />

                        <h3 class="hd-5">What does the Institute Archives and Special Collections (IASC) collect?</h3>
                        <p>The IASC is interested in:</p>
                        <ul>
                            <li>records that are generated or received by the various administrative and academic offices of the Institute in the conduct of their business, </li>
                            <li>teaching and research materials </li>
                            <li>correspondence with colleagues or professional organizations, </li>
                            <li>committee files</li>
                            <li>financial records (summary level, budgets) and annual reports </li>
                            <li>and more...</li>
                        </ul>

                        <p>Please note - the IASC <strong>only collects inactive material</strong>. If you are actively using the records, then they are not ready to be donated to the Archives.</p>


                        <p>For more information on preparing and submitting materials, visit the <a th:href="@{/Faq}">FAQ section</a>.</p>
                        
                    </div>
                    <aside class="content-sup col1q-r" role="complementary">
                        <div id="contact-iasc" class="bit">
                            <h3 class="title">Questions? Contact us.</h3>
                            <p><a href="mailto:recordstransfer@mit.edu">recordstransfer@mit.edu</a><br />
                            617.253.5136</p>
                        </div>
                    </aside>

                </div>

            </main>
            <!-- close content-main -->
        </div>
    </div>

    <script src="https://use.fontawesome.com/38304317ff.js"></script>

</div>


<div th:replace="mit/site_footer :: footer"/>


</body>
</html>


