<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title></title>

    <div th:replace="fragments/header :: header-css"/>
</head>

<body>

<div th:replace="mit/header :: header"/>

<div class="wrap-page">

    <div class="wrap-outer-content layout-band">
        <div class="wrap-content">
            <main id="content-main" class="content-main" role="main">

                <div class="details">
                    <h3 class="title-page">Manage Departments</h3>
                </div>


                <div class="results-table-outer wrapper">
                    <table class="table">
                        <tr>
                            <th>Department name</th>
                            <!-- edit button -->
                            <th>Edit</th>
                            <!-- notify button -->
                        </tr>
                        <tr th:each="item : ${departmentsForms}" style="cursor: pointer"
                            th:onclick="'javascript:rowClicked(\'' + ${item.id} + '\');'">
                            <td th:text="${item.name}"></td>

                            <td><a th:href="@{/EditDepartment(departmentid=${item.id})}">edit</a></td>

                        </tr>
                    </table>
                </div>


                <!-- Add new button -->
                <div>
                    <a class="btn button-secondary button-add" href="/att/AddDepartment" role="button">Add Department</a>

                </div>


            </main>
        </div>
    </div>

    <div th:replace="mit/site_footer :: footer"/>

</div>


</body>
</html>
