<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title></title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="mit/header :: header"/>

<div id="body_main">
    <div class="window">

        <div class="wrap-page">

            <div class="wrap-outer-content layout-band">
                <div class="wrap-content">
                    <main id="content-main" class="content-main" role="main">
                        <div class="layout-3q1q layout-band">

                            <div class="col3q">

                                <h3 class="title-page">Submit Records to the IASC</h3>

                                <div class="alert alert-banner warning" id="alert_box_top">
                                    <p>The form was not submitted - please correct the fields below:</p>
                                    <ul>
                                        <li class="hiddenerror2" id="startyear_error">Beginning Year</li>
                                        <li class="hiddenerror2" id="endyear_error">Ending Year - enter a valid year or leave blank
                                        </li>
                                    </ul>
                                </div>

                                <form th:action="@{/UploadFiles}" id="form" name="submission" method="post">

                                    <h4>Date span of the records</h4>
                                    <div class="group-inline">
                                        <div class="field-wrap">
                                            <label for="startyear" class="field-label">Beginning year</label> 
                                            <input class="field field-text" id="startyear" name="startyear" type="text" maxlength="4" size="4" th:value="${startyear}"/>
                                        </div>
                                        <div class="field-wrap">
                                            <label for="endyear" class="field-label">Ending year</label> 
                                            <input class="field field-text" name="endyear" id="endyear" type="text" maxlength="4" size="4" th:value="${endyear}"/>
                                        </div>
                                    </div>

                                    <h4>Records description</h4>
                                    <div class="field-wrap">
                                        <p id="comment-tip">
                                            You may provide additional information about the history of the records, the person or office that created the records, or any special considerations regarding the records such as comments on copyright or access restrictions.
                                        </p>

                                        <label class="field-label" for="comments">Description or comments (optional):</label>

                                        <textarea class="field field-text field-textarea" name="generalRecordsDescription" cols="40" rows="5"
                                            th:text="${generalRecordsDescription}" aria-describedby="comment-tip"></textarea>
                                    </div>

                                    <h4>Submission Agreement information for DLC or Donor</h4>

                                    <p>This is a submission agreement we have on file for your DLC or Donor name that will be automatically added to your submission. If this is not correct, please <a href="#contact-iasc">contact us</a> before submitting your files.</p>

                                    <table class="table copy-sup">
                                        <tr>
                                            <th id="ssainfo" valign="top">Effective date for the Submission Agreement</th>
                                            <td valign="top" th:text="*{ssa.effectivedate}"></td>
                                        </tr>
                                        <tr>
                                            <th valign="top">Retention Schedule</th>
                                            <td valign="top" th:text="*{ssa.retentionschedule}"></td>
                                        </tr>
                                        <tr>
                                            <th valign="top">Creator(s) of the records</th>
                                            <td valign="top"><span
                                                    th:text="'Head of Department/Unit: ' + *{ssa.departmenthead}"></span><br/><span
                                                    th:text="'Record or Collection Identifier: ' + *{ssa.recordid}"></span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th valign="top">Person or group authorized to transfer the records to the archives</th>
                                            <td valign="top">
                                                <div th:each="item,stat : *{ssa.ssaContactsForms}">
                                                    <div th:if="${stat.index ne 0}">
                                                        <hr/>
                                                    </div>
                                                    <span th:text="'Name: ' + *{ssa.ssaContactsForms[__${stat.index}__].name}"></span><br/>
                                                    <span th:text="'Phone Number: ' +  *{ssa.ssaContactsForms[__${stat.index}__].phone}"></span><br/>
                                                    <span th:text="'Email: ' +  *{ssa.ssaContactsForms[__${stat.index}__].email}"></span><br/>
                                                    <span th:text="'Campus Address: ' +  *{ssa.ssaContactsForms[__${stat.index}__].address}"></span>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th valign="top">Type of records</th>
                                            <td valign="top" th:text="*{ssa.recordstitle}"></td>
                                        </tr>

                                        <tr>
                                            <th valign="top">Copyright and licensing agreement(s)</th>
                                            <td valign="top">
                                                <div th:each="item,stat : *{ssa.ssaCopyrightsForms}">
                                                    <div th:if="${stat.index ne 0}">
                                                        <hr/>
                                                    </div>
                                                    <span th:text="*{ssa.ssaCopyrightsForms[__${stat.index}__].copyright}"></span>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th valign="top">Access restrictions</th>
                                            <td valign="top">
                                                <div th:switch="*{ssa.ssaAccessRestrictionsForms == null or ssa.ssaAccessRestrictionsForms.size() == 0}">
                                                    <div th:case="true">
                                                        None
                                                    </div>
                                                    <div th:case="*">
                                                        <div th:each="item,stat : *{ssa.ssaAccessRestrictionsForms}">
                                                            <div th:if="${stat.index ne 0}">
                                                                <hr/>
                                                            </div>
                                                            <span th:text="*{ssa.ssaAccessRestrictionsForms[__${stat.index}__].restriction}"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th valign="top">Retention period(s)</th>
                                            <td valign="top" th:text="*{ssa.retentionperiod}"></td>
                                        </tr>

                                    </table>

                                <!--      <div class="alert_box" id="alert_box_bottom">
                                          <p>Please enter the missing values above.</p>
                                      </div>-->

                                    <button type="submit" class="btn button-primary">Next: Select files</button>
         
                                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                                </form>
                            
                            </div>
                            <aside class="content-sup col1q-r" role="complementary">
                                <div id="contact-iasc" class="bit">
                                    <h3 class="title">Questions? Contact us.</h3>
                                    <p><a href="mailto:recordstransfer@mit.edu">recordstransfer@mit.edu</a><br />
                                    617.253.5136</p>
                                </div>
                            </aside>
                        </div>
                    </main>

                </div>

            </div> <!-- end wrap outercontent -->
        </div>

    </div>
</div>

<div th:replace="mit/site_footer :: footer"/>

</body>
</html>
