<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title></title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="mit/header :: header"/>

<div id="body_main">
    <div class="window">

        <div class="wrap-page">

            <div class="wrap-outer-content layout-band">
                <div class="wrap-content">
                    <main id="content-main" class="content-main" role="main">
                        <div class="layout-3q1q layout-band">

                            <div class="col3q">

                                <h3 class="title-page">Submit Records to the DDC</h3>

                                <form th:action="@{/UploadFiles}" id="form" name="submission" method="post" th:object="${transferRequest}">

                                    <h4>Date span of the records</h4>
                                    <div class="group-inline">
                                        <div class="field-wrap">
                                            <label for="startyear" class="field-label">Beginning year</label> 
                                            <input class="field field-text" id="startyear" name="startyear" type="text" maxlength="4" size="4" th:field="*{startyear}"/>
                                        </div>
                                        <div class="field-wrap">
                                            <label for="endyear" class="field-label">Ending year</label> 
                                            <input class="field field-text" name="endyear" id="endyear" type="text" maxlength="4" size="4" th:field="*{endyear}"/>
                                        </div>
                                    </div>

                                    <h4>Description (All fields are required)</h4>
                                    <div class="field-wrap">
                                        <label name="department" class="field-label" for="department">Department:</label>
                                        <textarea class="field field-text field-textarea" id="department" cols="40" rows="1"
                                                  th:field="*{department}" aria-describedby="comment-tip"></textarea>
                                        <p th:if="${#fields.hasErrors('department')}" th:errors="*{department}"></p>

                                    </div>

                                    <div class="field-wrap">
                                        <label name="degrees" class="field-label" for="degrees">Degree(s):</label>
                                        <textarea class="field field-text field-textarea" id="degrees" cols="40" rows="1"
                                                  th:field="*{degrees}" aria-describedby="comment-tip"></textarea>
                                        <p th:if="${#fields.hasErrors('degrees')}" th:errors="*{degrees}"></p>
                                    </div>

                                    <div class="field-wrap">
                                        <label class="field-label" for="theses">Number of Theses:</label>
                                        <textarea class="field field-text field-textarea" id="theses" cols="40" rows="1"
                                                  th:field="*{theses}" aria-describedby="comment-tip"></textarea>
                                        <p th:if="${#fields.hasErrors('theses')}" th:errors="*{theses}"></p>

                                    </div>

                                    <div class="field-wrap">
                                        <label class="field-label" for="comments">Description or comments (optional):</label>
                                        <textarea class="field field-text field-textarea" id="generalRecordsDescription" cols="40" rows="5"
                                            th:field="*{description}" aria-describedby="comment-tip"></textarea>
                                    </div>

                                <!--      <div class="alert_box" id="alert_box_bottom">
                                          <p>Please enter the missing values above.</p>
                                      </div>-->

                                    <button type="submit" class="btn button-primary">Next: Select files</button>
         
                                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                                </form>
                            
                            </div>
                            <aside class="content-sup col1q-r" role="complementary">
                                <div id="contact-iasc" class="bit">
                                    <h3 class="title">Questions? Contact us.</h3>
                                    <p>Theses: <a href="mailto:mit-theses@mit.edu">mit-theses@mit.edu</a></p>
                                    <p>Other MIT Records: <a href="mailto:ddc-offers@mit.edu">ddc-offers@mit.edu</a></p>
                                </div>
                            </aside>
                        </div>
                    </main>

                </div>

            </div> <!-- end wrap outercontent -->
        </div>

    </div>
</div>

<div th:replace="mit/site_footer :: footer"/>

</body>
</html>
