<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Submit Records to Archives</title>
    <div th:replace="fragments/header :: header-css"/>
    <script type="text/javascript" th:src="@{/resources/js/SubmitRecords.js}"></script>
</head>

<body>


<div th:replace="mit/header :: header"/>
<div class="wrap-page">

    <div class="wrap-outer-content layout-band">
        <div class="wrap-content">
            <main id="content-main" class="content-main" role="main">

                <div class="details">
                </div>

                <div class="layout-3q1q layout-band">

                    <div class="col3q">
                        <div th:replace="fragments/SubmitRecordsLoggedIn :: SubmitRecordsLoggedIn">SubmitRecordsLoggedIn</div>

                        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

                                    <div th:switch="${session.loggedin}">
                                        <div th:case="'1'">
                                            <div th:replace="fragments/SubmitRecordsLoggedIn :: SubmitRecordsLoggedIn">SubmitRecordsLoggedIn
                                            </div>
                                        </div>
                                        <div th:case="*">
                                            <div th:replace="fragments/SubmitRecordsNotLoggedIn :: SubmitRecordsNotLoggedIn">
                                                SubmitRecordsNotLoggedIn
                                            </div>
                                        </div>
                                    </div> -->



                        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                    </div>
                    <aside class="content-sup col1q-r" role="complementary">
                        <div id="contact-iasc" class="bit">
                            <h3 class="title">Questions? Contact us.</h3>
                            <p><a href="mailto:recordstransfer@mit.edu">recordstransfer@mit.edu</a><br />
                            617.253.5136</p>
                        </div>
                    </aside>
                </div>



            </main>
        </div>

    </div> <!-- end wrap outercontent -->
</div>




<div th:replace="mit/site_footer :: footer"/>

</body>
</html>
