<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title></title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="mit/header :: header"/>

<div class="wrap-page">

    <div class="wrap-outer-content layout-band">
        <div class="wrap-content">
            <main id="content-main" class="content-main" role="main">
                <div class="layout-3q1q layout-band">

                    <div class="col3q">
                        <div class="details">
                        </div>

                        <div id="content">
                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

                            <h3 class="title-page">Submission Instructions</h3>

                            <ol>
                                <li>Click the <strong> Submit records </strong> button</li>
                                <li>First, select your DLC or Donor and Record Title so we can match your digital
                                    material with an existing submission agreement. Don't see your name or DLC on the
                                    list? Please <a href="mailto:ddc-offers@mit.edu">contact us</a>.</li>
                                <li>Click the <strong> Next: Record details button</strong>.</li>
                                <li>Record the starting year and end year of the digital material to the best of your
                                    knowledge. If all of the files are from a single year, record that in the starting
                                    year and leave the end year blank.</li>
                                <li>Add a brief description about the history of the material, the person or office
                                    that created the material, or any special considerations regarding the material
                                    such as comments on access restrictions.
                                </li>
                                <li>
                                    At the bottom of the page you will see information from your completed
                                    submission agreement. This will be pre-filled based on prior contact with the
                                    Department of Distinctive Collections. If it looks incorrect, please <a href="mailto:ddc-offers@mit.edu">contact us</a>.
                                </li>
                                <li> Once finished, click <strong> Next: Select files </strong>
                                </li>
                                <li>Upload your digital content on the Add Digital Content Files page. Click the <strong> Choose
                                    File </strong> button under <strong> Select a file to upload </strong>, which will open your computer’s file browser.
                                    If you have multiple files or folder(s), you will have to put them into a zip
                                    folder first. To create a zip folder, follow <a href="https://www.wikihow.com/Make-a-Zip-File">these instructions</a> for PC and OSX.
                                    If you select the wrong file, you can click <strong> Remove all files </strong> to start over.
                                </li>
                                <li> Click the <strong> Submit Query </strong> button to upload your files. As the page notes, this can
                                    take some time, so please leave the page open while the files upload
                                </li>
                                <li>Once upload is complete, the tool will bring you to the next page and provide a
                                    summary of what you submitted. We will also contact you to confirm the successful
                                    transfer of your digital material.</li>

                            </ol>







                            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                        </div>
                    </div>
                    <aside class="content-sup col1q-r" role="complementary">
                        <div id="contact-iasc" class="bit">
                            <h3 class="title">Questions? Contact us.</h3>
                            <p><a href="mailto:ddc-offers@mit.edu">ddc-offers@mit.edu</a><br />
                            617.253.5136</p>
                        </div>
                    </aside>
                </div>

            </main>
            <!-- close content-main -->
        </div>
    </div>

    <script src="https://use.fontawesome.com/38304317ff.js"></script>

</div>

<div th:replace="mit/site_footer :: footer"/>

</body>
</html>
